<?php

echo "<title>RIAkamp Log in</title>";
?>
<h2>Sign up using this form</h2>

<?php echo $this->tag->form(array("session/start", "method" => "post")); ?>

<p>
    <label for="name">Password</label>
    <?php echo $this->tag->passwordField(array("password", "size" => 30)) ?>
</p>

<p>
    <label for="email">E-Mail</label>
    <?php echo $this->tag->textField("email") ?>
</p>

<p>
    <?php echo $this->tag->submitButton("Register") ?>
</p>

</form>