<?php

echo "<title>RIAkamp Work</title>";

echo "<p>You are now in session! as email: ";
echo $authData['mail'];
echo " and tip: ";
echo $authData['tip'];
echo "</p>";

echo $this->tag->linkTo("session/end", "Log out!");
echo "&nbsp&nbsp";
echo $this->tag->linkTo("booking/list", "Booking list");